.header__link:hover,
.header__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

.header__link:active {
    background-color: #8097ff;
}

.header {
    max-width: 1600px;
    padding: 10px 0px;
    width: 100%;
    justify-content: space-around;
    background-color: #00BFFF;
    display: flex;
    font-family: Helvetica;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}

.header__logo {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.header__logo__link:hover,
.header__logo__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

.header__logo > img {
    width: 40px;
    height: 40px;
}
